<div class="container">
  <app-cockpit
  (serverCreated) = "onServerAdded($event)"
  (bluePrintCreated) = "onBluePrintAdded($event)"
  ></app-cockpit>
  <hr/>
  <div class="row">
    <div class="col-xs-12">
      <!--LINK server-element/server-element.component.html -->
      <!-- NOTE The serverElements on parent app each value as a element prop for child element -->
      <app-server-element
        *ngFor="let severElement of serverElements"
        [srvElement]="severElement"
      >
      </app-server-element>
    </div>
  </div>
</div>
